{% extends 'layout/base.html' %}
{% load i18n %}
{% block page_header %}{% endblock page_header %}
{% block content %}
    <div class="row">
        <div class="col-lg-8 col-md-12">

          <div class="row">
               <div class="col-md-6">
              <div class="panel panel-bordered panel-warning">
                <div class="panel-heading">
                  <h3 class="panel-title">Avís!</h3>
                </div>
                <div class="panel-body">Degut a una errada a la configuració de les assignatures de modalitat no apareixen els alumnes correctes.
                A partir de dimecres 16 ja es podrà utilitzar BEMS amb normalitat.</div>
              </div>
            </div>

              <a href="{% url "attendance:call-today" %}">
                <div class="col-md-6">
                    <div class="card card-block p-35 clearfix">
                <div class="pull-xs-left white">
                  <i class="icon icon-circle icon-2x wb-clipboard bg-red-600" aria-hidden="true"></i>
                </div>
                <div class="counter counter-md counter text-xs-right pull-xs-right">
                  <div class="counter-number-group">
                      <span class="counter-number-related text-capitalize">Passar llista</span>
                    </div>
                    <div class="counter-label text-capitalize font-size-16">(Funcionalitats limitades)</div>
                </div>
              </div>
            </div>
              </a>

          </div>
        </div>
    </div>
{% endblock content %}