<link rel="stylesheet" href="/static/css/font-awesome.min.css">
<div class="site-menubar">
    <div class="site-menubar-body">
        {% block menubar_body %}
            <div>
                <div>
                    <ul class="site-menu">
                        <li class="site-menu-category">General</li>
                        <li class="site-menu-item">
                            <a href="{% url 'index' %}">
                                <i class="site-menu-icon wb-dashboard" aria-hidden="true"></i>
                                <span class="site-menu-title">{% block test %}{% endblock %}Dashboard</span>
                            </a>
                        </li>
                        <li class="site-menu-item">
                            <a href="javascript:void(0)">
                                <i class="site-menu-icon fa-envelope" aria-hidden="true"></i>
                                <span class="site-menu-title">Messages</span>
                            </a>
                        </li>
                        <li class="site-menu-item">
                            <a href="javascript:void(0)">
                                <i class="site-menu-icon fa-calendar" aria-hidden="true"></i>
                                <span class="site-menu-title">Calendar</span>
                            </a>
                        </li>
                        <li class="site-menu-item has-sub">
                            <a href="javascript:void(0)">
                                <i class="site-menu-icon fa-table" aria-hidden="true"></i>
                                <span class="site-menu-title">Schedule</span>
                                <span class="site-menu-arrow"></span>
                            </a>
                            <ul class="site-menu-sub">
                                <li class="site-menu-item">
                                    <a class="animsition-link" href="{% url 'index' %}">
                                        <span class="site-menu-title">My Timetable</span>
                                    </a>
                                </li>
                                <li class="site-menu-item">
                                    <a class="animsition-link" href="../layouts/menu-collapsed-alt.html">
                                        <span class="site-menu-title">Timetable Search</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="site-menu-category">Academical</li>
                        <li class="site-menu-item has-sub">
                            <a href="javascript:void(0)">
                                <i class="site-menu-icon fa-graduation-cap" aria-hidden="true"></i>
                                <span class="site-menu-title">Institut Mercè Rodoreda</span>
                                <span class="site-menu-arrow"></span>
                            </a>
                            <ul class="site-menu-sub">
                                <li class="site-menu-item">
                                    <a class="animsition-link" href="../layouts/menu-collapsed.html">
                                        <span class="site-menu-title">My Timetable</span>
                                    </a>
                                </li>
                                <li class="site-menu-item">
                                    <a class="animsition-link" href="../layouts/menu-collapsed-alt.html">
                                        <span class="site-menu-title">Timetable Search</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="site-menu-item has-sub">
                            <a href="javascript:void(0)">
                                <i class="site-menu-icon fa-users" aria-hidden="true"></i>
                                <span class="site-menu-title">2n ESO B</span>
                                <span class="site-menu-arrow"></span>
                            </a>
                            <ul class="site-menu-sub">
                                <li class="site-menu-item">
                                    <a class="animsition-link" href="../layouts/menu-collapsed.html">
                                        <span class="site-menu-title">My Timetable</span>
                                    </a>
                                </li>
                                <li class="site-menu-item">
                                    <a class="animsition-link" href="../layouts/menu-collapsed-alt.html">
                                        <span class="site-menu-title">Timetable Search</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="site-menu-item has-sub">
                            <a href="javascript:void(0)">
                                <i class="site-menu-icon fa-check" aria-hidden="true"></i>
                                <span class="site-menu-title">Attendance</span>
                                <span class="site-menu-arrow"></span>
                            </a>
                            <ul class="site-menu-sub">
                                <li class="site-menu-item">
                                    <a class="animsition-link" href="../layouts/menu-collapsed.html">
                                        <span class="site-menu-title">My Timetable</span>
                                    </a>
                                </li>
                                <li class="site-menu-item">
                                    <a class="animsition-link" href="../layouts/menu-collapsed-alt.html">
                                        <span class="site-menu-title">Timetable Search</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="site-menu-item has-sub">
                            <a href="javascript:void(0)">
                                <i class="site-menu-icon wb-clipboard" aria-hidden="true"></i>
                                <span class="site-menu-title">Incidents</span>
                                <span class="site-menu-arrow"></span>
                            </a>
                            <ul class="site-menu-sub">
                                <li class="site-menu-item">
                                    <a class="animsition-link" href="../layouts/menu-collapsed.html">
                                        <span class="site-menu-title">My Timetable</span>
                                    </a>
                                </li>
                                <li class="site-menu-item">
                                    <a class="animsition-link" href="../layouts/menu-collapsed-alt.html">
                                        <span class="site-menu-title">Timetable Search</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="site-menu-category">Evaluation</li>
                        <li class="site-menu-item">
                            <a href="javascript:void(0)">
                                <i class="site-menu-icon wb-book" aria-hidden="true"></i>
                                <span class="site-menu-title">Report</span>
                            </a>
                        </li>
                        <li class="site-menu-item">
                            <a href="javascript:void(0)">
                                <i class="site-menu-icon fa-file-text" aria-hidden="true"></i>
                                <span class="site-menu-title">Tutory Report</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        {% endblock menubar_body %}
    </div>
    <div class="site-menubar-footer">
        {% block menubar_footer %}
            <a href="//admin.bems.cat" class="fold-show" data-placement="top" data-toggle="tooltip"
               data-original-title="Settings">
                <span class="icon wb-settings" aria-hidden="true"></span>
            </a>
            <a href="javascript: void(0);" data-placement="top" data-toggle="tooltip" data-original-title="Lock">
                <span class="icon wb-eye-close" aria-hidden="true"></span>
            </a>
            <a href="javascript: void(0);" data-placement="top" data-toggle="tooltip" data-original-title="Logout">
                <span class="icon wb-power" aria-hidden="true"></span>
            </a>
        {% endblock menubar_footer %}
    </div>
</div>
<div class="site-gridmenu">
    {% block gridmenu %}
        <div>
            <div>
                <ul>
                    <li>
                        <a href="../apps/mailbox/mailbox.html">
                            <i class="icon wb-envelope"></i>
                            <span>Mailbox</span>
                        </a>
                    </li>
                    <li>
                        <a href="../apps/calendar/calendar.html">
                            <i class="icon wb-calendar"></i>
                            <span>Calendar</span>
                        </a>
                    </li>
                    <li>
                        <a href="../apps/contacts/contacts.html">
                            <i class="icon wb-user"></i>
                            <span>Contacts</span>
                        </a>
                    </li>
                    <li>
                        <a href="../apps/media/overview.html">
                            <i class="icon wb-camera"></i>
                            <span>Media</span>
                        </a>
                    </li>
                    <li>
                        <a href="../apps/documents/categories.html">
                            <i class="icon wb-order"></i>
                            <span>Documents</span>
                        </a>
                    </li>
                    <li>
                        <a href="../apps/projects/projects.html">
                            <i class="icon wb-image"></i>
                            <span>Project</span>
                        </a>
                    </li>
                    <li>
                        <a href="../apps/forum/forum.html">
                            <i class="icon wb-chat-group"></i>
                            <span>Forum</span>
                        </a>
                    </li>
                    <li>
                        <a href="../index.html">
                            <i class="icon wb-dashboard"></i>
                            <span>Dashboard</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    {% endblock gridmenu %}
</div>