{% load i18n %}
<header class="slidePanel-header">
  <div class="slidePanel-actions" aria-label="actions" role="group">

    <div class="btn-group actions-bottom" role="group">

      <a href="/incidents/edit/{{ object.pk }}/" class="btn btn-pure btn-inverse icon wb-edit" aria-hidden="true"></a>
        {% if object.type.name == "Sanció" %}
      <a href="/incidents/report/pdf/{{ object.pk }}/" target="_blank" class="btn btn-pure btn-inverse icon wb-print" aria-hidden="true"></a>
        {% else %}
      <a href="/incidents/advertiment/pdf/{{ object.pk }}/" target="_blank" class="btn btn-pure btn-inverse icon wb-print" aria-hidden="true"></a>
        {% endif %}
    </div>
  </div>
  <h1><b>{{object.type.name}}:</b> {{object.student}}</h1>
</header>
<div class="slidePanel-inner">
  <section class="slidePanel-inner-section">
    <div class="forum-header">
      <a class="avatar" href="javascript:void(0)">
        <img src="{{object.teacher.get_profile_image }}" alt="...">
      </a>
      <span class="name text-middle">{{object.teacher}}</span>
      <span class="time">{{object.date|date:'d M Y'}} a les {{object.unit.start|time:'H:i'}}</span>
    </div>
    <div class="forum-content">
      <p>{{object.description}}</p>
    </div>
    <div class="forum-metas">
      <div class="button-group tags">
        <div class="tags">
        <a href="/incidents/changestatus/{{ object.pk }}/accepted/True/" class="btn btn-icon btn-default btn-outline tooltip-primary" data-toggle="tooltip"
                data-placement="bottom" data-original-title="Perfil"><i class="icon wb-user" aria-hidden="true"></i> {% trans "Accepted" %}</a>
          <a href="/incidents/changestatus/{{ object.pk }}/returned/True/" class="btn btn-icon btn-default btn-outline tooltip-info" data-toggle="tooltip"
                data-placement="bottom" data-original-title="Informes"><i class="icon wb-order" aria-hidden="true"></i> {% trans "Returned" %}</a>
        <a href="/incidents/changestatus/{{ object.pk }}/completed/True/" class="btn btn-icon btn-default btn-outline tooltip-warning" data-toggle="tooltip"
                data-placement="bottom" data-original-title="Edita"><i class="icon wb-edit" aria-hidden="true"></i> {% trans "Completed" %}</a>
      </div>
      </div>
    </div>
  </section>
  <section class="slidePanel-inner-section">
    <div class="forum-header">
      <div class="pull-right">#
        <span class="floor">1</span>
      </div>

      <span class="name"><b>Càstig proposat</b></span>
      <span class="time"></span>
    </div>
    <div class="forum-content">
      <p>{{object.comments|default:'Sense comentaris'}}</p>
    </div>
  </section>
    <section class="slidePanel-inner-section">
    <div class="forum-header">
      <div class="pull-right">#
        <span class="floor">1</span>
      </div>

      <span class="name"><b>Càstig</b></span>
      <span class="time"></span>
    </div>
    <div class="forum-content">
      <p>{{object.punishment.type.name|default:'Sense càstig'}}</p>
      <p>{{object.punishment.day|default:''}}</p>
      <p>{{object.punishment.start|default:''}} - {{object.punishment.end|default:''}}</p>
    </div>
  </section>
  <!--<div class="slidePanel-comment">
    <textarea class="maxlength-textarea form-control mb-sm margin-bottom-20" rows="4"></textarea>
    <button class="btn btn-primary" data-dismiss="modal" type="button">Reply</button>
  </div>-->
</div>