<!DOCTYPE html>
{% load i18n analytical %}
<html class="no-js css-menubar" lang="en">
<head>
{% analytical_head_top %}
    {% block meta %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
        <meta name="description" content="">
        <meta name="author" content="Beat.bcn">
    {% endblock meta %}
    <title>{% block title %}BEMS.xyz{% endblock title %}</title>

    <link rel="apple-touch-icon" sizes="57x57" href="/static/fav/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/static/fav/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/static/fav/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/static/fav/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/static/fav/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/static/fav/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/static/fav/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/static/fav/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/fav/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="/static/fav/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/static/fav/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="/static/fav/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/static/fav/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/static/fav/manifest.json">
    <link rel="mask-icon" href="/static/fav/safari-pinned-tab.svg" color="#f96868">
    <meta name="msapplication-TileColor" content="#b91d47">
    <meta name="msapplication-TileImage" content="/mstile-144x144.png">
    <meta name="theme-color" content="#ffffff">

    {% block css %}
        <!-- Stylesheets -->
        <link rel="stylesheet" href="/static/css/bootstrap.css">
        <link rel="stylesheet" href="/static/css/bootstrap-extend.css">
        <link rel="stylesheet" href="/static/css/site.css">
        <!-- Plugins -->
        <link rel="stylesheet" href="/static/vendor/animsition/animsition.css">
        <link rel="stylesheet" href="/static/vendor/asscrollable/asScrollable.css">
        <link rel="stylesheet" href="/static/vendor/switchery/switchery.css">
        <link rel="stylesheet" href="/static/vendor/slidepanel/slidePanel.css">
        <link rel="stylesheet" href="/static/vendor/flag-icon-css/flag-icon.css">
        <!-- Skin -->
        <link id="skinStyle" href="/static/skins/{{ request.instance.theme|default:"red" }}.css" rel="stylesheet" type="text/css">
        <!-- Fonts -->
        <link rel="stylesheet" href="/static/fonts/web-icons/web-icons.min.css">
        <link rel="stylesheet" href="/static/fonts/brand-icons/brand-icons.min.css">
        <link rel="stylesheet" href="/static/fonts/font-awesome/font-awesome.min.css">
        <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:200,300,400,500,300italic'>
        <link href='https://fonts.googleapis.com/css?family=Lato:400,300,100,700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    {% endblock css %}
    {% block extra_css %}{% endblock %}
    <!--[if lt IE 9]>
<script src="/static/vendor/html5shiv/html5shiv.min.js"></script>
<![endif]-->
    <!--[if lt IE 10]>
<script src="/static/vendor/media-match/media.match.min.js"></script>
<script src="/static/vendor/respond/respond.min.js"></script>
<![endif]-->
    <!-- Scripts -->
    <script src="/static/vendor/modernizr/modernizr.js"></script>
    <script src="/static/vendor/breakpoints/breakpoints.js"></script>
    <script>
        Breakpoints();
    </script>
{% analytical_head_bottom %}
</head>
{% block body %}
<body class="{% block body_args %}{% endblock %}">
{% analytical_body_top %}
<!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
<nav class="site-navbar navbar navbar-default navbar-fixed-top navbar-mega" role="navigation">
    <div class="navbar-header">
      <button type="button" class="navbar-toggler hamburger hamburger-close navbar-toggler-left hided"
      data-toggle="menubar">
        <span class="sr-only">Toggle navigation</span>
        <span class="hamburger-bar"></span>
      </button>
      <button type="button" class="navbar-toggler collapsed" data-target="#site-navbar-collapse"
      data-toggle="collapse">
        <i class="icon wb-more-horizontal" aria-hidden="true"></i>
      </button>
      <div class="navbar-brand navbar-brand-center site-gridmenu-toggle" data-toggle="gridmenu">
        {% block BEMSheader %}
                <img class="navbar-brand-logo" src="{% if request.instance.logo %}{{ request.instance.logo.url }}{% else %}/static/img/beatbcn.png{% endif %}" title="Beat.bcn" style="-webkit-filter: drop-shadow(0px 0px 10px rgba(255, 255, 255, 1));">
                <span class="navbar-brand-text hidden-xs" style="font-weight: 300; font-family: Lato, sans-serif"> {% if request.instance %} {{ request.instance.name }} {% else %} BEMS.xyz {% endif %} </span>
            {% endblock %}
      </div>
      <button type="button" class="navbar-toggler collapsed" data-target="#site-navbar-search"
      data-toggle="collapse">
        <span class="sr-only">Toggle Search</span>
        <i class="icon wb-search" aria-hidden="true"></i>
      </button>
    </div>
    <div class="navbar-container container-fluid">
      <!-- Navbar Collapse -->
      <div class="collapse navbar-collapse navbar-collapse-toolbar" id="site-navbar-collapse">
        <!-- Navbar Toolbar -->
        <ul class="nav navbar-toolbar">
          <li class="nav-item hidden-float" id="toggleMenubar">
            <a class="nav-link" data-toggle="menubar" href="#" role="button">
              <i class="icon hamburger hamburger-arrow-left">
                  <span class="sr-only">Toggle menubar</span>
                  <span class="hamburger-bar"></span>
                </i>
            </a>
          </li>
        </ul>
        <!-- End Navbar Toolbar -->
        <!-- Navbar Toolbar Right -->
        <ul class="nav navbar-toolbar navbar-right navbar-toolbar-right">
          <li class="nav-item dropdown">
            <a class="nav-link navbar-avatar" data-toggle="dropdown" href="#" aria-expanded="false"
            data-animation="scale-up" role="button">
              <span class="avatar avatar-{{ user.bemsuser.get_status }}">
                <img src="{{ user.bemsuser.get_profile_image }}" alt="...">
                <i></i>
              </span>
                            <span style="line-height: 30px; margin-left: 5px"> {{ user.bemsuser }} </span>
            </a>
            <div class="dropdown-menu" role="menu">
              <a class="dropdown-item" href="javascript:void(0)" role="menuitem"><i class="icon wb-user" aria-hidden="true"></i> Profile</a>
              <a class="dropdown-item" href="javascript:void(0)" role="menuitem"><i class="icon wb-payment" aria-hidden="true"></i> Billing</a>
              <a class="dropdown-item" href="javascript:void(0)" role="menuitem"><i class="icon wb-settings" aria-hidden="true"></i> Settings</a>
              <div class="dropdown-divider" role="presentation"></div>
              <a class="dropdown-item" href="javascript:void(0)" role="menuitem"><i class="icon wb-power" aria-hidden="true"></i> Logout</a>
            </div>
          </li>
          <!--<li class="nav-item dropdown">
            <a class="nav-link" data-toggle="dropdown" href="javascript:void(0)" title="Notifications"
            aria-expanded="false" data-animation="scale-up" role="button">
              <i class="icon wb-bell" aria-hidden="true"></i>
              <span class="tag tag-pill tag-danger up">5</span>
            </a>
            <div class="dropdown-menu dropdown-menu-right dropdown-menu-media" role="menu">
              <div class="dropdown-menu-header">
                <h5>NOTIFICATIONS</h5>
                <span class="tag tag-round tag-danger">New 5</span>
              </div>
              <div class="list-group">
                <div data-role="container">
                  <div data-role="content">
                    <a class="list-group-item dropdown-item" href="javascript:void(0)" role="menuitem">
                      <div class="media">
                        <div class="media-left p-r-10">
                          <i class="icon wb-order bg-red-600 white icon-circle" aria-hidden="true"></i>
                        </div>
                        <div class="media-body">
                          <h6 class="media-heading">A new order has been placed</h6>
                          <time class="media-meta" datetime="2016-06-12T20:50:48+08:00">5 hours ago</time>
                        </div>
                      </div>
                    </a>
                    <a class="list-group-item dropdown-item" href="javascript:void(0)" role="menuitem">
                      <div class="media">
                        <div class="media-left p-r-10">
                          <i class="icon wb-user bg-green-600 white icon-circle" aria-hidden="true"></i>
                        </div>
                        <div class="media-body">
                          <h6 class="media-heading">Completed the task</h6>
                          <time class="media-meta" datetime="2016-06-11T18:29:20+08:00">2 days ago</time>
                        </div>
                      </div>
                    </a>
                    <a class="list-group-item dropdown-item" href="javascript:void(0)" role="menuitem">
                      <div class="media">
                        <div class="media-left p-r-10">
                          <i class="icon wb-settings bg-red-600 white icon-circle" aria-hidden="true"></i>
                        </div>
                        <div class="media-body">
                          <h6 class="media-heading">Settings updated</h6>
                          <time class="media-meta" datetime="2016-06-11T14:05:00+08:00">2 days ago</time>
                        </div>
                      </div>
                    </a>
                    <a class="list-group-item dropdown-item" href="javascript:void(0)" role="menuitem">
                      <div class="media">
                        <div class="media-left p-r-10">
                          <i class="icon wb-calendar bg-blue-600 white icon-circle" aria-hidden="true"></i>
                        </div>
                        <div class="media-body">
                          <h6 class="media-heading">Event started</h6>
                          <time class="media-meta" datetime="2016-06-10T13:50:18+08:00">3 days ago</time>
                        </div>
                      </div>
                    </a>
                    <a class="list-group-item dropdown-item" href="javascript:void(0)" role="menuitem">
                      <div class="media">
                        <div class="media-left p-r-10">
                          <i class="icon wb-chat bg-orange-600 white icon-circle" aria-hidden="true"></i>
                        </div>
                        <div class="media-body">
                          <h6 class="media-heading">Message received</h6>
                          <time class="media-meta" datetime="2016-06-10T12:34:48+08:00">3 days ago</time>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
              <div class="dropdown-menu-footer">
                <a class="dropdown-menu-footer-btn" href="javascript:void(0)" role="button">
                  <i class="icon md-settings" aria-hidden="true"></i>
                </a>
                <a class="dropdown-item" href="javascript:void(0)" role="menuitem">
                    All notifications
                  </a>
              </div>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link" data-toggle="dropdown" href="javascript:void(0)" title="Messages"
            aria-expanded="false" data-animation="scale-up" role="button">
              <i class="icon wb-envelope" aria-hidden="true"></i>
              <span class="tag tag-pill tag-info up">3</span>
            </a>
            <div class="dropdown-menu dropdown-menu-right dropdown-menu-media" role="menu">
              <div class="dropdown-menu-header" role="presentation">
                <h5>MESSAGES</h5>
                <span class="tag tag-round tag-info">New 3</span>
              </div>
              <div class="list-group" role="presentation">
                <div data-role="container">
                  <div data-role="content">
                    <a class="list-group-item" href="javascript:void(0)" role="menuitem">
                      <div class="media">
                        <div class="media-left p-r-10">
                          <span class="avatar avatar-sm avatar-online">
                            <img src="../../../global/portraits/2.jpg" alt="..." />
                            <i></i>
                          </span>
                        </div>
                        <div class="media-body">
                          <h6 class="media-heading">Mary Adams</h6>
                          <div class="media-meta">
                            <time datetime="2016-06-17T20:22:05+08:00">30 minutes ago</time>
                          </div>
                          <div class="media-detail">Anyways, i would like just do it</div>
                        </div>
                      </div>
                    </a>
                    <a class="list-group-item" href="javascript:void(0)" role="menuitem">
                      <div class="media">
                        <div class="media-left p-r-10">
                          <span class="avatar avatar-sm avatar-off">
                            <img src="../../../global/portraits/3.jpg" alt="..." />
                            <i></i>
                          </span>
                        </div>
                        <div class="media-body">
                          <h6 class="media-heading">Caleb Richards</h6>
                          <div class="media-meta">
                            <time datetime="2016-06-17T12:30:30+08:00">12 hours ago</time>
                          </div>
                          <div class="media-detail">I checheck the document. But there seems</div>
                        </div>
                      </div>
                    </a>
                    <a class="list-group-item" href="javascript:void(0)" role="menuitem">
                      <div class="media">
                        <div class="media-left p-r-10">
                          <span class="avatar avatar-sm avatar-busy">
                            <img src="../../../global/portraits/4.jpg" alt="..." />
                            <i></i>
                          </span>
                        </div>
                        <div class="media-body">
                          <h6 class="media-heading">June Lane</h6>
                          <div class="media-meta">
                            <time datetime="2016-06-16T18:38:40+08:00">2 days ago</time>
                          </div>
                          <div class="media-detail">Lorem ipsum Id consectetur et minim</div>
                        </div>
                      </div>
                    </a>
                    <a class="list-group-item" href="javascript:void(0)" role="menuitem">
                      <div class="media">
                        <div class="media-left p-r-10">
                          <span class="avatar avatar-sm avatar-away">
                            <img src="../../../global/portraits/5.jpg" alt="..." />
                            <i></i>
                          </span>
                        </div>
                        <div class="media-body">
                          <h6 class="media-heading">Edward Fletcher</h6>
                          <div class="media-meta">
                            <time datetime="2016-06-15T20:34:48+08:00">3 days ago</time>
                          </div>
                          <div class="media-detail">Dolor et irure cupidatat commodo nostrud nostrud.</div>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
              <div class="dropdown-menu-footer" role="presentation">
                <a class="dropdown-menu-footer-btn" href="javascript:void(0)" role="button">
                  <i class="icon wb-settings" aria-hidden="true"></i>
                </a>
                <a class="dropdown-item" href="javascript:void(0)" role="menuitem">
                    See all messages
                  </a>
              </div>
            </div>
          </li>-->
          <li class="nav-item" id="toggleChat">
            <a class="nav-link" data-toggle="site-sidebar" href="javascript:void(0)" title="Chat"
            data-url="../site-sidebar.tpl">
              <i class="icon wb-chat" aria-hidden="true"></i>
            </a>
          </li>
            <li class="nav-item">
                    <a href="/accounts/logout" class="nav-link" title="Chat">
                        {% trans 'Logout' %} <span class="icon wb-power" aria-hidden="true" style="margin-left: 5px;"></span>
                    </a>
                </li>
        </ul>
        <!-- End Navbar Toolbar Right -->
      </div>
      <!-- End Navbar Collapse -->
      <!-- Site Navbar Seach -->
      <div class="collapse navbar-search-overlap" id="site-navbar-search">
        <form role="search">
          <div class="form-group">
            <div class="input-search">
              <i class="input-search-icon wb-search" aria-hidden="true"></i>
              <input type="text" class="form-control" name="site-search" placeholder="Search...">
              <button type="button" class="input-search-close icon wb-close" data-target="#site-navbar-search"
              data-toggle="collapse" aria-label="Close"></button>
            </div>
          </div>
        </form>
      </div>
      <!-- End Site Navbar Seach -->
    </div>
  </nav>
{% include 'layout/sections/menubar.html' %}
<!-- Page -->
<div class="page {% block page_attr %}{% endblock %}">
    {% block page %}
        {% if page_aside %}
            <div class="page-aside">
                {% block aside %}
                    <div class="page-aside-switch">
                        <i class="icon wb-chevron-left" aria-hidden="true"></i>
                        <i class="icon wb-chevron-right" aria-hidden="true"></i>
                    </div>

                    <div class="page-aside-inner scrollable is-enabled scrollable-vertical"
                         data-plugin="pageAsideScroll" style="position: relative;">
                        <div data-role="container" class="scrollable-container" style="width: 259px;">
                            <div data-role="content" class="scrollable-content" style="width: 259px;">
                                {% block aside_content %}
                                {% endblock aside_content %}
                            </div>
                        </div>
                        <div class="scrollable-bar scrollable-bar-vertical scrollable-bar-hide" draggable="false">
                            <div class="scrollable-bar-handle" style="height: 78.0958px;"></div>
                        </div>
                    </div>
                    <!---page-aside-inner-->
                {% endblock aside %}
            </div>
            <div class="page-main">
        {% endif %}
    {% block page_header %}
        <div class="page-header">
            <h1 class="page-title">{% block page_title %}Title{% endblock page_title %}</h1>
            <ol class="breadcrumb">
                {% block breadcrumb %}
                    <li class="breadcrumb-item"><a href="../index.html">Home</a></li>
                    <li class="breadcrumb-item active">You are Here</li>
                {% endblock breadcrumb %}
            </ol>
            <div class="page-header-actions">
                {% block page_header_actions %}
                    <div class="row no-space w-250 hidden-sm-down">
                    <div class="col-sm-4 col-xs-12">
                      <div class="counter">
                        <span class="counter-number font-weight-medium">8371</span>
                        <div class="counter-label">Purchases</div>
                      </div>
                    </div>
                    <div class="col-sm-4 col-xs-12">
                      <div class="counter">
                        <span class="counter-number font-weight-medium">1024</span>
                        <div class="counter-label">Members</div>
                      </div>
                    </div>
                    <div class="col-sm-4 col-xs-12">
                      <div class="counter">
                        <span class="counter-number font-weight-medium">$38,823</span>
                        <div class="counter-label">Today Profit</div>
                      </div>
                    </div>
                  </div>
                {% endblock page_header_actions %}
            </div>
        </div>
    {% endblock page_header %}
    {% block page_content %}
        <div class="page-content">
            {% block content %}
                Page content
            {% endblock %}
        </div>
    {% endblock page_content %}
    {% if page_aside %}
        </div>
    {% endif %}
    {% endblock page %}
</div>
<!-- End Page -->
<!-- Footer -->
{% include 'layout/sections/footer.html' %}
{% include 'layout/sections/scripts.html' %}
{% block extra_js %}{% endblock %}
{% analytical_body_bottom %}
</body>
{% endblock body %}
</html>