<!DOCTYPE html>
<html class="no-js css-menubar" lang="en">
<head>
    {% include 'layout/sections/head.html' %}
</head>
<body>
  <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
  {% include 'layout/sections/navbar.html' %}
  {% include 'layout/sections/menubar.html' %}
  <!-- Page -->
  {% include 'layout/sections/page.html' %}
  <!-- End Page -->
  <!-- Footer -->
  {% include 'layout/sections/footer.html' %}
  {% include 'layout/sections/scripts.html' %}
</body>
</html>